CREATE TABLE public.{{.LowerPlural}} (
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMP NOT NULL DEFAULT NOW()
);
{{if .List}}
CREATE INDEX {{.LowerPlural}}_created_at_id_idx ON public.{{.LowerPlural}} (created_at DESC, id DESC);
{{end -}}
