version: "2"

linters:
    default: all
    disable:
        - gomodguard
        - wsl
        - depguard
        - wrapcheck
        - varnamelen
        - revive
        - wsl_v5
        - testpackage
        - recvcheck
        - ireturn
        - gochecknoglobals
        - gochecknoinits
    enable:
        - gomodguard_v2

formatters:
    enable:
        - gofmt
        - goimports
